[submodule "deps/curl"]
	path = deps/curl
	url = git@github.com:GerHobbelt/curl
[submodule "deps/libuv"]
	path = deps/libuv
	url = git@github.com:libuv/libuv
	branch = v1.x
[submodule "deps/wasm3"]
	path = deps/wasm3
	url = git@github.com:saghul/wasm3.git
	branch = v0.5-tjs
