[submodule "deps/libuv"]
	path = deps/libuv
	url = git@github.com:libuv/libuv
	branch = v1.x
[submodule "deps/wasm3"]
	path = deps/wasm3
	url = git@github.com:saghul/wasm3.git
	branch = v0.5-tjs
[submodule "deps/libffi"]
	path = deps/libffi
	url = https://github.com/libffi/libffi
